@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'OpenSans-Light';
	src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
	font-size: 1em;
}

#navbarItems {
	display: inline-block;
	font-size: 20px;
	font-family: 'Arial';
	font-weight: 700;
}

#navbarRight{
	display: inline-block;
	font-size: 20px;
	font-family: 'Arial';
	font-weight: 700;
}

thead{
	text-align: left;
	font-size: 30px;

}

#heroInfo {
	font-size: 15px;
	width: 300px;
    margin: auto;
    margin-right: 25px;
    border: solid red;
    font-family: 'OpenSans-Light';
	src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
}

#heroInfo-Defense {
    font-size: 15px;
    width: 300px;
    margin: auto;
    margin-right: 25px;
    border: solid purple;
    font-family: 'OpenSans-Light';
    src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
}

#heroInfo-Tank {
    font-size: 15px;
    width: 300px;
    margin: auto;
    margin-right: 25px;
    border: solid blue;
    font-family: 'OpenSans-Light';
    src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
}

#historia{
	text-align: center;
}

i {
	font-size: 15px;
	margin-left: 500px;
}

#skins{
	border: solid #12282a;
	text-align: center;
	color: grey;
}

#direitos{
	text-align: center;
	margin-bottom: 5px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}